* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
}

.record-page {
  height: 100%;
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cards-header {
  height: 10vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1px;
  margin-left: 40px;
  border-bottom: 2px solid;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.cards {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid; */
}

.card {
  height: 70%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid gray;
  text-align: center;
  gap: 13px;
  /* padding: 10px 4px; */
}
.card img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  align-items: center;
  padding: 3px;
  background-color: #fde0c2;
}

button {
  padding: 10px 35px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #fa620d;
  background-color: #fff;
  color: #fa620d;
  font-size: 15px;
  cursor: pointer;
}
button:hover {
  background-color: #fa620d;
  color: #fff;
  transition: 0.5s;
}

.display-Records {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
}
.history {
  height: 100%;
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 18px;
}
.records {
  height: 80%;
  width: 100%;
  margin-top: 20px;
  border-radius: 3px;
  border: 2px solid gray;
  border-radius: 5px;
}
.record {
  height: 15%;
  width: 100%;
  border-bottom: 1px solid gray;
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
}
.record .num {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.record div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* }
.record div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
} */
