 * {
    margin: 0%;
    padding: 0%;
}

section {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    border-radius: 6px;
}

.outermain{
    width: 50%;
    height: 99%;
    border: 2px solid rgba(0, 0, 0, 0.251);
    display: flex;
    flex-direction: column;
   gap: 30px;
   align-items: center;
}
.main1 {
    width: 100%;
    height: 50%;
    /* background-color: red; */
    border: 3px solid rgba(0, 0, 0, 0.342);
    border-radius: 1%;
    display: flex;
    /* flex-direction: column; */
    /* padding: 20px 10px ; */
    /* gap: px; */
}
.box1{
    width: 50%;
    height: 100%;
    margin-left: 10px;
    /* margin: 35px 40px 0px 25px ; */
}
.main1 .h1{
padding: 10px 5px;
}
.main1 .h2{
padding: 10px 5px;
}
 
.main1 .input{
    display: flex ;
  gap: 20px ;
  /* padding: 10px; */
}
.input input{
    padding: 13px 39px;
}
.input .button button{
padding: 9px 40px;
    /* padding: 10px 70px ; */
    background-color: white;

align-items: center;
border: 1px solid  rgb(254, 102, 9);
color: rgb(254, 102, 9);
border-radius: 6px;
font-size: .8vw;
} 
.input2 input::placeholder{
     color: rgb(254, 102, 9);

 }

.box2{
    width: 50%;
    height: 100%;
    display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 16px;
  gap: 20px;
}
.b2input input {
    padding: 14px 70px ;
}
.date{
display: flex;
gap: 30px;
}
.date .issue{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 3%;
}
.date .duedate{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 3%;
}
.date .issue input {
    padding: 9px 15px;
    
}
.date .duedate input {
    padding: 9px 10px;
}
.main2 {
    width: 100%;
    height: 35%;
    display: flex;
    /* justify-content: center; */
    align-items: left;
    padding-left: 40px;
    flex-direction: column;
    /* background-color: red; */
    gap: 5px;
}
.main2 .h1 {
    padding-left:45px;
}
.item{
    width: 95%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.27);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* text-align: center;  */
    gap: 9px;
}
.item ul{
    list-style: none;
    display: flex;
    gap: 200px;
    display: flex;
    background-color: rgba(180, 180, 180, 0.559);
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.item ul li{
    font-size: 1.1vw;
}
.iteminput{
    display:flex;
    justify-content: center;
    /* align-items: center; */
        gap: 37px;
}
.iteminput input{
    padding: 16px 10px;
    display: flex;
    text-align: center  ;
}
.addnew{
    display: flex;
    align-items: center;
    justify-content: center;
}
.addnew button{
    padding: 9px 320px;
    border: 2px solid rgb(254, 102, 9);
    font-size: 1vw;
    color: rgb(254, 102, 9);
    background-color: white;
}
.addnew input::placeholder{
    color:rgb(254, 102, 9) ;

}
.additionalinfomain{
    width: 95%;
    height: 43%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 35px;
    /* background-color: red; */
}
.b{
 /* width: 30%;
 height: 60%; */
 border: 2px solid rgba(0, 0, 0, 0.274);  
 padding: 20px; 
 border-radius: 16px;

}
.b1{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 50%;
    height: 60%;
    /* justify-content: center; */
    /* align-items: center; */
}
.b2{
    width: 90%;
    height: 45%;
    /* background-color: red; */
     padding: 40px 10px; 
     display: flex;
     gap: 40px;
     /* background-color: red; */
     border: 2px solid rgba(0, 0, 0, 0.381);
    border-radius: 16px;
}
.b1 .h2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red;  */
    padding: 35px 10px; 
 border: 2px solid rgba(0, 0, 0, 0.329);
 border-radius: 8px; 
 /* background-color: ; */
}
.discount{
    display: flex;
    align-items: center;
}
.discount input{
    display: flex;
    align-items: center;
    text-align: center;
    /* gap: 10px; */
}
.taxt{
    display: flex;
    align-items: center;
    gap: 10px;
}
.discountbox{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.discount1 input{
    padding: 9px 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.discount1{
    display: flex;
    gap: 10px;
  
}
.totalamountbox{
    display: flex;
    flex-direction: column;
}
.paymentterm{
    width: 95%;
    height: 25%;
    /* background-color: blue; */
    border: 2px solid black;
    display:flex ;
    align-items: center;
    gap: 250px;
    border-radius: 6px;
   
}
.pay{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}
.pay input{
    padding: 13px 25px;
    border-radius: 7px;
}
.currency{
    display: flex;
     /* align-items: center; */
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}
.currency input{
    padding: 13px 25px;

}
.cancel{
    width: 95%;
    height: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}
.cancel #cancel{
    background-color: white;
    border-radius: 6px;
    font-size: 1vw;
    
}
.cancel #generate{
    background-color: rgb(254, 102, 9);
    border-radius: 6px;
    font-size: 1vw;
    color: white;
    border: none;
}
#cancel{
    padding: 18px 70px;
}
#generate{
    padding: 18px 170px;
}
button{
cursor: pointer;
}