*{
padding: 0;
margin: 0;

    font-family: 'poppins';
}
#records{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:  10px;

    
}
.main{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: 60px;

}
.top{
    display: flex;
    gap: 50px;
    
}
.toptwo input{
border: none;
outline: none;

}

.topone{
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topone input{
    outline: none;
    border: none;
}
.toptwo{
    padding: 10px ;
border: 2px solid grey;
border-radius: 10px;
display: flex;
gap: 10px;
}
.topthree{
     border-radius: 10px;
    width: 20%;
    padding: 10px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topfour{
      border-radius: 10px;
    width: 20%;
    padding: 10px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.two{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.two .center2{
display: flex;
align-items: center;
/* justify-content: space-between; */
gap: 60px;
}
.center2 button{
    padding: 10px;
}
.a1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    
}
.amain{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a{
    display: flex;
    align-items: center;
    gap: 20px;
}
.three{
    border: 2px solid black;
    padding: 1px;
    border-radius: 10px;
}

