* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* section {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */


/* } */ 

.hero {
    width: 100%;
    display: flex;

}

.sidebar {
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-color: green; */
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 30px;
    padding-top: 15px;

}

.barone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.bartwo ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);


}

.bartwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bartwo ul {

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 55px;
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 10px;
    width: 170px;
   
    color: black;
}
ul a:hover{
    background-color: orangered;
 border-radius: 10px;
 transition: 0.5s;
 color: white;
}

.procard {
    width: 70%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.procard button {
    padding: 10px;
    background-color: rgb(248, 79, 18);
    border: none;
    border-radius: 5px;
    color: white;

}
.procard button:hover{
    cursor: pointer;
    padding: 11px;
    transition: 0.5s;
}
.barthree {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 70px;

}


