* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: 'poppins';
}

section {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 40%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: #F8F9FA;

    justify-content: center;
}

.mainleft {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 33px;
    margin-top: 23px;
    margin-bottom: 23px;
}


.one {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;

}

/* //right// */
.right {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;



}

.mainright {
    background-color: rgba(255, 166, 0, 0);
    width: 90%;
    height: 92%;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px;


}

.innerright {
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create button {

    padding: 15px 190px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 7px;
}

.email input {
    width: 60%;
    height: 40px;
    border-radius: 7px;
    border: 3px solid rgba(128, 128, 128, 0.76);
    padding: 5px;
    outline: none;
}

.password input {
    width: 60%;
    height: 40px;
    border-radius: 7px;
    border: 3px solid rgba(128, 128, 128, 0.76);
    padding: 5px;
    outline: none;
}

.confirm input {
    width: 60%;
    height: 40px;
    border-radius: 7px;
    border: 3px solid rgba(128, 128, 128, 0.76);
    padding: 5px;
    outline: none;
}

.agree {
    display: flex;
    display: flex;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 55px;
    /* align-items: center; */
    /* justify-content: center; */

}

.buttons button {
    padding: 10px 80px;
    color: rgb(0, 0, 0);
    /* background-color: orangered; */
    border: none;
    border-radius: 7px;
}

input.checkbox {
    padding: 0px;
}