<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <section>
        <div class="hero">
            <div class="sidebar">
                <div class="barone">
                    <img src="../assets/logo.png" alt="">
                    <h1>Invoice Pro</h1>
                </div>
                <div class="bartwo">
                    <ul>
                        <a href="">
                            <li><i class="fa-solid fa-house"></i>
                                <h2>Dashboard</h2>
                            </li>
                        </a>
                        <a href="">
                            <li><i class="fa-solid fa-plus"></i>
                                <h2>New Invoice</h2>
                            </li>
                        </a>
                        <a href="">
                            <li><i class="fa-solid fa-trash-can-arrow-up"></i>
                                <h2>Recodes</h2>
                            </li>
                        </a>
                        <a href="">
                            <li><i class="fa-solid fa-user"></i>
                                <h2>User Profile</h2>
                            </li>
                        </a>
                        <a href="">
                            <li><i class="fa-solid fa-pen"></i>
                                <h2>Setting</h2>
                            </li>
                        </a>

                    </ul>
                </div>
                <div class="barthree">
                    <div class="procard">
                        <h2>Upgrade to pro</h2>
                        <p>Lorem ipsum dolor sit. aia dfadadf</p>
                        <button>Upgrade To Pro</button>
                    </div>
                </div>
            </div>
        </div>

        

    </section>
</body>

</html>