<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="headermain">
    <div class="head1"><h1>Dashboard</h1></div>
    <div class="head2"><h3>Administrator</h3></div>
    </div>
    <hr>
    </header>
    <style>
        header{
            width: 100%;
            
        
        }
        .headermain{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>

</body>
</html>